@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800&display=swap');

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.text-wrap {
	text-wrap: wrap;
}

.text-balance {
	text-wrap: balance;
}

.text-right {
	text-align: right !important;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #f0f0f0
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #f5f5f5;
	border-radius: 50%
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #6e9fcb
}

.k-input-values {
	display: flex;
}

.editor ol {
	list-style: decimal;
}

.editor ul {
	list-style: disc;
}
